.theme-toggle-btn {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    width: 75px; /* Size of the button */
    height: 75px;
    border-radius: 50%; /* Makes the button round */
    padding: 0;
    font-size: 2.5rem; /* Adjust icon size */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    outline: none;
}

.theme-toggle-btn.light-mode {
    background-color: #FFD700; /* Sun-like color for light mode */
    color: #FFFFFF; /* Icon color */
    border: none;
}

.theme-toggle-btn.dark-mode {
    background-color: #333333; /* Dark color for dark mode */
    color: #FFFFFF; /* Icon color */
    border: none;
}

.theme-toggle-btn:focus {
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.5); /* Focus outline */
}
